.main {
    width: 400px;
    height: 400px;
    margin: 50px 42%;
}

.header {
    p {
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        span:first-child {
            color: green;
        }
    }
}

.container {
    width: auto;
    height: auto;
    .ng-invalid {
        border: 1px solid red;
        outline: none;
    }
    .ng-valid {
        border: 1px solid green;
        outline: none;
    }
    .first-inp {
        input {
            width: 200px;
            height: 30px;
            margin: 10px 10px 0 0;
            border-radius: 5px;
            outline: none;
            transition: .2s;
            overflow: scroll;
            &::placeholder {
                font-size: 0.7rem;
                line-height: 1rem;
                letter-spacing: .2rem;
                color: black;
                font-family: 'Roboto', sans-serif;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        select {
            width: 80px;
            height: 34.5px;
            option {
                width: 50px;
                font-size: 0.7rem;
                line-height: 1rem;
                letter-spacing: .2rem;
                color: black;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
    .add-btn-below {
        color: white;
        background: black;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: .2rem;
        font-family: 'Roboto', sans-serif;
        width: 7.3rem;
        height: 1.7rem;
        border: none;
        border-radius: .4rem;
        display: inline-block;
        margin: 1.5rem 0 1.5rem 0;
    }
    .underline-row {
        width: 1000px;
        height: 4px;
        margin: 5rem 0 -4% -100%;
        border-radius: 2rem;
        border: none;
        background: red;
    }
}

.output {
    display: flex;
    padding-bottom: 1rem;
    p {
        margin-right: 50px;
        margin-top: -10px;
        span {
            color: red;
        }
    }
}